
@{
    ViewData["Title"] = "finded candidates";
}

<h1>Candidatos</h1>

<p>
    <a asp-action="RegisterCandidate">Cadastrar novo candidato</a>
</p>

<p>
    Pesquisar candidatos
</p>
    <form asp-action="FindCandidates" method="post">
        <input type="search" name="search" placeholder="Pesquise um candidato" />
        <button id="buscar" type="submit">Pesquisar</button>
    </form>
   

    <table class="table">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Surname
                </th>
                <th>
                    BirthDate
                </th>
                <th>
                    Email
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.candidatesFind)
            {
                <tr>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Surname
                        
                    </td>
                    <td>
                        @item.Birthdate
                       
                    </td>
                    <td>
                        @item.Email
                       

                    </td>
                    <td>

                        <a asp-action="DetailsCandidate" asp-route-id="@item.Id">Detalhes</a>

                        <a style="margin-left: 10px" asp asp-action="DeleteCandidate" asp-route-id="@item.Id">Deletar</a>

                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a asp-action="Index">Voltar</a>

    @section Scripts{
        <script>
        $("#deletar").click(function (event) {
            event.preventDefault();
    console.log($("#idCandidate").val())

    var URL = '@Url.Action("DeleteCandidate")'
        $.ajax({
            url: URL,
            type: "DELETE",
            data: $("#idCandidate").val(),
            success: function (dados) {
                window.location.href = "../Candidates/Index"
            },
            error: function (error) {
                console.log(error),
                    window.alert('Não foi realizado o envio do Id')
            }
        });
        });


        </script>
    }